doctype html
html(lang='en')
  head
    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')

    //- Customized CSS
    style.
      .time-container {
        position: relative !important;
        min-height: 3rem;
      }

      .time {
        position: absolute;
        transform: translate(-50%,-50%) !important;
        left: 50% !important;
        top: 50% !important;
        padding-top: 0.3rem;
      }

      .row.hide {
        display: none;
      }

    title {{ title }}

  body
    //- navbar & control panel
    nav.navbar.navbar-expand-md.sticky-top.navbar-dark.bg-primary
      .container
        .navbar-brand {{ title | safe }}

        //- hamburger
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent')
          span.navbar-toggler-icon

        //- control panel
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
          .row.g-1
            .col-md-auto.col-sm-12
              //- dropdown: filter
              select#filter.form-select
                option(value='' selected) All
                {% for name, index in indexes.items() %}
                option(value='{{ index }}') {{ name }}
                {%- endfor %}

            .col-md-auto.col-sm-12
              //- dropdown: timezone
              select#timezone.form-select
                {% for tz in timezones %}
                option(value='{{ tz.name }}') ({{ tz.offset_display }}) {{ tz.short_name }}
                {%- endfor %}

            .col-md-auto.col-sm-12.d-grid.gap-2
              //- button: now
              button#scrollToNow.btn.btn-outline-light.ms-2(type='button') Now

    //- jobs
    #timetable.container
      #card-now.row.mt-3
        .card.text-white.bg-secondary
          .row
            .col-md-2.time-container
              .time
                h4 hh:mm
            .col-md-10
              .card-body
                h4.card-title Now

      {%- for job in jobs %}
      .row.mt-3(class="{{ job.indexes | join(' ') }}")
        .card
          .row
            .col-md-2.time-container
              .time(data-datetime='{{ job.datetime }}')
                h4 --:--
            .col-md-10
              .card-body
                h5.card-title {{ job.name | safe }}
                {%- if job.description %}
                p.card-text {{ job.description | markdown }}
                {%- endif %}
                p.card-text.text-muted
                  {%- if job.labels %}
                  small.
                    Labels:
                    {% for label in job.labels %}
                    <span class='badge bg-secondary me-1'>{{ label | safe }}</span>
                    {%- endfor %}
                  {%- endif %}
                  br
                  small Schedule: <code>{{ job.schedule | safe }}</code> @{{ job.timezone | safe }}; Time: <span class='detail-time'></span> (<span class='relative-time'>--</span>)
      {%- endfor %}

    //- Scripts
    //- Bootstrap
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')

    //- day.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js' integrity='sha512-hcV6DX35BKgiTiWYrJgPbu3FxS6CsCjKgmrsPRpUPkXWbvPiKxvSVSdhWX0yXcPctOI2FJ4WP6N1zH+17B/sAA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/utc.min.js' integrity='sha512-z84O912dDT9nKqvpBnl1tri5IN0j/OEgMzLN1GlkpKLMscs5ZHVu+G2CYtA6dkS0YnOGi3cODt3BOPnYc8Agjg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/timezone.min.js' integrity='sha512-fG1tT/Wn/ZOyH6/Djm8HQBuqvztPQdK/vBgNFLx6DQVt3yYYDPN3bXnGZT4z4kAnURzGQwAnM3CspmhLJAD/5Q==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/relativeTime.min.js' integrity='sha512-MVzDPmm7QZ8PhEiqJXKz/zw2HJuv61waxb8XXuZMMs9b+an3LoqOqhOEt5Nq3LY1e4Ipbbd/e+AWgERdHlVgaA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/isToday.min.js' integrity='sha512-wDcF/3o0NA8ZSiwAQwhkCs7wMb8RKAn/jkW4b3tlxassNYUO46MsD0MuFOc16LNtkmkCH+qxQTAc+3/5JsTEoA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/isTomorrow.min.js' integrity='sha512-vLarZYh+kxl2xV1XWlR4a1RmYYMo4x/wKxGoEej5Pl0GocYdniaoNX59/Yi5mbkSWvEbU2KG8xDGrbf5Z+rLKw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/plugin/isYesterday.min.js' integrity='sha512-rUcTkOsI327H2BdFMhZGTvQN9uIkzNWXmun/GuK8LnVzk5AiczjnbBfN41PokBGxLyMU6tWOR/BbzbFIrji8Kg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script.
      dayjs.extend(window.dayjs_plugin_utc);
      dayjs.extend(window.dayjs_plugin_timezone);
      dayjs.extend(window.dayjs_plugin_relativeTime);
      dayjs.extend(window.dayjs_plugin_isToday);
      dayjs.extend(window.dayjs_plugin_isTomorrow);
      dayjs.extend(window.dayjs_plugin_isYesterday);

    //- Custom
    script(src='{{ url_for("static", filename="crontimes.js") }}')
    script.
      'use strict';

      (function () {
          // setup time zone dropdown
          let timeZoneSelectDom = document.getElementById('timezone');
          timeZoneSelectDom.value = crontimes.getTimezone();
          timeZoneSelectDom.addEventListener('change', (e) => {
            crontimes.setTimeZone(e.target.value);
          });

          // callback for filter dropdown
          document.getElementById('filter').addEventListener('change', (e) => {
            crontimes.filterJobs(e.target.value);
          })

          // callback for 'now' button
          document.getElementById('scrollToNow')
              .addEventListener('click', crontimes.scrollToNow);

          // refresh time
          crontimes.refreshTimes();

          // scroll to now
          crontimes.scrollToNow();
      })();
